<div class="main">
    <div class="footer-link">
        <a class="app-href" href="#">About</a>
        <a class="app-href" href="#">Blog</a>
        <a class="app-href" href="#">Team</a>
        <a class="app-href" href="#">Pricing</a>
        <a class="app-href" href="#">Contact</a>
        <a class="app-href" href="#">Terms</a>
    </div>
    <div class="footer-link">
        <a class="app-href" href="#"><img src="/assets/images/icons8-facebook-logo-30.png"></a>
        <a class="app-href" href="#"><img src="/assets/images/icons8-twitter.png"></a>
        <a class="app-href" href="#"> <img src="/assets/images/instagram.png"></a>
        <a class="app-href" href="#"><img src="/assets/images/icons8-github.png"></a>
        <a class="app-href" href="#"><img src="/assets/images/icons8-globe-30.png"></a>
    </div>
    <div class="footer-link">
        <p class="copyright">&copy; 2021 SomeCompany,Inc. All rights reserved.</p>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="footer-link social">
            <a class="app-href" href="#">About</a>
            <a class="app-href" href="#">Blog</a>
            <a class="app-href" href="#">Team</a>
            <a class="app-href" href="#">Pricing</a>
            <a class="app-href" href="#">Contact</a>
            <a class="app-href" href="#">Terms</a>
        </div>
        <div class="col footer-link social">
            <a class="app-href" href="#"><img src="/assets/images/icons8-facebook-logo-30.png"></a>
            <a class="app-href" href="#"><img src="/assets/images/icons8-twitter.png"></a>
            <a class="app-href" href="#"> <img src="/assets/images/instagram.png"></a>
            <a class="app-href" href="#"><img src="/assets/images/icons8-github.png"></a>
            <a class="app-href" href="#"><img src="/assets/images/icons8-globe-30.png"></a>
        </div>
    </div>
</div> -->