<div class="main">
    <h1>Our Features</h1>
    <p>check out our list of awesome feature below</p>
    <div class="features-list">
        <div class="column">
            <div class="card">
                <img src="/assets/images/icons8-certificate-40.png" height="30" width="30"> 
                <h3>Certification</h3>
                <p>Each of our plan will provide you and your team with certifiacation.</p>
            </div>
        </div>
    
        <div class="column">
            <div class="card">
                <img src="/assets/images/icons8-certificate-40.png" height="30" width="30"> 
                <h3>Notification</h3>
                <p>Send out notifications to all your customers to keep them engaged.</p>
            </div>
        </div>
    
        <div class="column">
            <div class="card">
                <img src="/assets/images/icons8-bundle-40.png" height="30" width="30"> 
                <h3>Bundles</h3>
                <p>High-quality bundles of awesome tools to help you out.</p>
            </div>
        </div>
    </div>
    <div class="features-list">
        <div class="column">
            <div class="card">
                <img src="/assets/images/icons8-developer-tool-40.png" height="35" width="35"> 
                <h3>Developer Tools</h3>
                <p>Developer tools to help grow your aqpplication and keep it up-to-date.</p>
            </div>
        </div>
    
        <div class="column">
            <div class="card">
                <img src="/assets/images/icons8-blocks-40.png" height="35" width="35"> 
                <h3>Building Blocks</h3>
                <p>The right kind of building blocks to take your company to next level.</p>
            </div>
        </div>
    
        <div class="column">
            <div class="card">
                <img src="/assets/images/icons8-coupons-40.JPG" height="35" width="35"> 
                <h3>Coupons</h3>
                <p>Coupons system to provide special offers and discounts for you app.</p>
            </div>
        </div>
    </div>
</div>
