<div class="container">
    <app-navigation></app-navigation>
    <div class="section1">
        <h1>Start Crafting Your
            <br><span>Next Great Idea</span>
        </h1>
        <p>Simplify the creation of landing pages,blob pages,<br>application pages and so much more!</p>
        <div class="purchase-section">
            <button class="btn-purchase">Purchase Now <span>only $15/mo</span></button>
            <a href='#'>Learn More</a>
        </div>
    </div>
    <div class="section2">
        <small>TRUSTED BY TOP LEADING COMPANIES</small>
        <div class="logo-link">
            <a href="#" *ngFor="let x of companies">
                <img src="{{x.image}}" alt="{{x.companyName}}" height="50" width="70">
            </a>
        </div>
    </div>
<app-productivity></app-productivity>
<app-features></app-features>
<app-team></app-team>
</div>
<app-blog></app-blog>
<app-footer></app-footer>























<!-- <div class="section4">

    </div>
    <div class="section5">
        <div class="column">
            <div class="card">
                <h3>Certification</h3>
                <p>Each of our plan will provide you and your team with certifiacation.</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Notification</h3>
                <p>Send out notifications to all your customers to keep them engaged.</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Bundles</h3>
                <p>High-quality bundles of awesome tools to help you out.</p>
            </div>
        </div>
    </div>
    <div class="section6">
        <div class="column">
            <div class="card">
                <img src="./images/icons8-disney-plus-80.png`" alt="">
                <h3>Developer Tools</h3>
                <p>Developer tools to help grow your aqpplication and keep it up-to-date.</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Building Blocks</h3>
                <p>The right kind of building blocks to take your company to next level.</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Coupons</h3>
                <p>Coupons system to provide special offers and discounts for you app.</p>
            </div>
        </div>
    </div>
    <div class="section7">
        <a href="#" style="
        text-decoration: none;">OUR TEAM</a>
        <h1>An Incredible team of amazing individuals</h1>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="./images/icons8-disney-plus-80.png" alt="">
                    <h3>Developer Tools</h3>
                    <p>Developer tools to help grow your aqpplication and keep it up-to-date.</p>
                </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <h3>Building Blocks</h3>
                    <p>The right kind of building blocks to take your company to next level.</p>
                </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <h3>Coupons</h3>
                    <p>Coupons system to provide special offers and discounts for you app.</p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>Coupons</h3>
                    <p>Coupons system to provide special offers and discounts for you app.</p>
                </div>
            </div>
        </div>
    </div> -->