<div class="productivity">
    <div class="contentImg">
        <img src="/assets/images/boost-productivity.JPG" alt='Boost Productivity'>
    </div>
    <div class="content">
        <h3>Boost Productivity</h3>
        <p>Build an atmosphere that creates productivity in your organistaion and your company culture.</p>
        <ul>
            <li>Maximize productvity and growth</li>
            <li>Speed past your competition</li>
            <li>Learn the top techniques</li>
        </ul>
    </div>
</div>
<div class="productivity">
    <div class="content">
        <h3>Automated Tasks</h3>
        <p>Save money and time with our revolutionary services.We are the leaders in the industry</p>
        <ul>
            <li>Automated task management workflows</li>
            <li>Detailed analytics for your data</li>
            <li>Some awesome integrations</li>
        </ul>
    </div>
    <div class="contentImg">
        <img src="/assets/images/automated-tasks.JPG" alt='Automated Tasks'>
    </div>
</div>