<div class="main">
    <div class="container">
        <h2>The Project Blog</h2>
        <p>Designs and layouts to help you with your app</p>
        <div class="blog">
            <div class="row">
                <div class="card">
                    <div class="imageBox  resource-header">
                        <img src="/assets/images/blog1.JPG" height="150px" width="100px">
                    </div>
                    <div class="content resource-content">
                        <span class="blog1-btn">Resources</span>
                        <h3>Refreshing designs</h3>
                        <p>Quench satisfying designs to help stir you up emotion and tell a story</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imageBox lifestyle-header">
                        <img src="/assets/images/lifestyle.JPG" height="150px" width="100px">
                    </div>
                    <div class="content  lifestyle-content">
                        <span class="blog1-btn">Lifestyle</span>
                        <h3>Refreshing designs</h3>
                        <p>Quench satisfying designs to help stir you up emotion and tell a story</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imageBox entertainment-header">
                        <img src="/assets/images/entertainment.JPG" height="150px" width="100px">
                    </div>
                    <div class="content entertainment-content">
                        <span class="blog1-btn">Entertainment</span>
                        <h3>Refreshing designs</h3>
                        <p>Quench satisfying designs to help stir you up emotion and tell a story</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog2">
            <div class="row">
                <div class="card">
                    <div class="imageBox2">
                        <img src="/assets/images/inspiration.JPG" height="150px" width="100%">
                    </div>
                    <div class="content">
                        <span class="resource-btn">Resources</span>
                        <h4>Best workstation of the year</h4>
                        <p>Quench satisfying designs to help stir you up emotion and tell a story</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imageBox2">
                        <img src="/assets/images/food.JPG" height="150px" width="100%">
                    </div>
                    <div class="content">
                        <span class="lifestyle-btn">Lifestyle</span>
                        <h4>Eating for productivity</h4>
                        <p>Quench satisfying designs to help stir you up emotion and tell a story</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imageBox2">
                        <img src="/assets/images/resource.JPG" height="150px" width="100%">
                    </div>
                    <div class="content">
                        <span class="entertainment-btn">Entertainment</span>
                        <h4>A Design Mind-set</h4>
                        <p>Quench satisfying designs to help stir you up emotion and tell a story</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>