.main, .app-link{
    display: flex;
    align-items: center;
}
.main {
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}
.main-Logo{
    font-size: 22px;
    letter-spacing: 0.3pt;
    font-weight: bold;
}
.app-href{
    color: black;
    text-decoration: none;
    display: inline;
}
.app-link{
    list-style: none;
    padding-left: 0;
}
.app-link li {
    padding-right: 12px;
}
.app-signup{
    background-color: #5753ea;
    border-radius: 50px;
    padding: 12px 24px;
    color: white;
    margin-left: 12px;
}
.active{
    color: #5753ea;
}
