<div class="main">
    <div class="header">
        <p>OUR TEAM</p>
        <h2>An incredible team of amazing individuals</h2>
    </div>
    <div class="right-style"></div>
</div>
<div class="team-list">
    <div class="column">
        <div class="card">
            <img src="/assets/images/team1.JPG" height="200" width="200">
            <p class="title">Freddy Smith</p>
            <p>CEO and Founder</p>
            <div class="connection">
                <img src="/assets/images/icons8-twitter.png">
                <img src="/assets/images/icons8-github.png">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/assets/images/team2.JPG" height="200" width="200">
            <p class="title">Freddy Smith</p>
            <p>CEO and Founder</p>
            <div class="connection">
                <img src="/assets/images/icons8-twitter.png">
                <img src="/assets/images/icons8-github.png">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/assets/images/team3.JPG" height="200" width="200">
            <p class="title">Freddy Smith</p>
            <p>CEO and Founder</p>
            <div class="connection">
                <img src="/assets/images/icons8-twitter.png">
                <img src="/assets/images/icons8-github.png">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/assets/images/team4.JPG" height="200" width="200">
            <p class="title">Freddy Smith</p>
            <p>CEO and Founder</p>
            <div class="connection">
                <img src="/assets/images/icons8-twitter.png">
                <img src="/assets/images/icons8-github.png">
            </div>
        </div>
    </div>
</div>
<div class="team-list">
    <div class="column">
        <div class="card">
            <img src="/assets/images/team5.JPG" height="200" width="200">
            <p class="title">Freddy Smith</p>
            <p>CEO and Founder</p>
            <div class="connection">
                <img src="/assets/images/icons8-twitter.png">
                <img src="/assets/images/icons8-github.png">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/assets/images/team6.JPG" height="200" width="200">
            <p class="title">Freddy Smith</p>
            <p>CEO and Founder</p>
            <div class="connection">
                <img src="/assets/images/icons8-twitter.png">
                <img src="/assets/images/icons8-github.png">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/assets/images/team7.JPG" height="200" width="200">
            <p class="title">Freddy Smith</p>
            <p>CEO and Founder</p>
            <div class="connection">
                <img src="/assets/images/icons8-twitter.png">
                <img src="/assets/images/icons8-github.png">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/assets/images/team8.JPG" height="200" width="200">
            <p class="title">Freddy Smith</p>
            <p>CEO and Founder</p>
            <div class="connection">
                <img src="/assets/images/icons8-twitter.png">
                <img src="/assets/images/icons8-github.png">
            </div>
        </div>
    </div>
</div>